.cache: &cache
  cache:
    key: "$CI_BUILD_REF_NAME"
    paths:
      - eenv/
      - eenv2/

stages:
    - lint
    - test

variables:
  GIT_SUBMODULE_STRATEGY: none

before_script:
    - "[ -s \"$HOME/.gitlab_runner.sh\" ] && . $HOME/.gitlab_runner.sh"
    - git submodule sync --recursive
    - git submodule foreach --recursive git clean -fxd
    - git submodule update --init --recursive --force
    # install or update venv for python2
    - "PYV=$($(which python2.7) -V 2>&1)"
    - "[ -s 'eenv2/bin/activate' ] || virtualenv eenv2 -p $(which python2.7)"
    - "VENVPYV=$(eenv2/bin/python -V 2>&1)"
    # delete venv if python versions changed
    - '[ "$PYV" = "$VENVPYV" ] || ( rm -rf eenv2 ; virtualenv eenv2 -p $(which python2.7))'
    # for debugging some weird issues on some ci runners
    # install or update venv for python3
    - "PYV=$($(which python3.6 || which python3.7) -V 2>&1)"
    - "[ -s 'eenv/bin/activate' ] || virtualenv eenv -p $(which python3.6 || which python3.7)"
    - "VENVPYV=$(eenv/bin/python -V 2>&1)"
    # delete venv if python versions changed
    - '[ "$PYV" = "$VENVPYV" ] || ( rm -rf eenv ; virtualenv eenv -p $(which python3.6 || which python3.7))'
    #
    - "[ -s 'eenv/bin/activate' ] && . eenv/bin/activate"
    - locale
    - which python

# ############################################################################
# lint stage
# ############################################################################

flake2:
  tags:
    - shell
  stage: lint
  allow_failure: false
  retry:
      max: 2
      when:
        - runner_system_failure
  script:
    - ". eenv2/bin/activate"
    - python -V
    - pip install -U flake8
    - pip freeze > pipfreeze.txt
    - python -m flake8 pwdtk --exclude=pwdtk/testproject/manage21.py | tee flake.log
  artifacts:
    when: always
    paths:
        - pipfreeze.txt
        - flake.log
    expire_in: 1 month


flake3:
  tags:
    - shell
  stage: lint
  allow_failure: false
  retry:
      max: 2
      when:
        - runner_system_failure
  script:
    - ". eenv/bin/activate"
    - python -V
    - pip install -U flake8
    - pip freeze > pipfreeze.txt
    - python -m flake8 pwdtk | tee flake.log
  artifacts:
    when: always
    paths:
        - pipfreeze.txt
        - flake.log
    expire_in: 1 month



# ############################################################################
# Test stage
# ############################################################################
test_1:
  tags:
    - shell
  stage: test
  allow_failure: false
  retry:
      max: 2
      when:
        - runner_system_failure
  script:
    - ". eenv/bin/activate"
    - python -V
    - pip install -U tox
    - tox -e py27-django1,py35-django1,

test_22:
  tags:
    - shell
  stage: test
  allow_failure: true
  retry:
      max: 2
      when:
        - runner_system_failure
  script:
    - ". eenv/bin/activate"
    - python -V
    - pip install -U tox
    - tox -e py35-django22,py36-django22

test_31:
  tags:
    - shell
  stage: test
  allow_failure: true
  retry:
      max: 2
      when:
        - runner_system_failure
  script:
    - ". eenv/bin/activate"
    - python -V
    - pip install -U tox
    - tox -e py36-django31
