language: python
matrix:
 include:
 - python: 3.6
   env: DJANGO_VER_OR_TAG=lint
 - python: 3.6
   env: DJANGO_VER_OR_TAG=django1
 - python: 3.6
   env: DJANGO_VER_OR_TAG=django22

install:
  - pip install -U pip
  - pip install tox
script:
  - tox -e $(echo py${TRAVIS_PYTHON_VERSION}-${DJANGO_VER_OR_TAG} | tr -d .)
notifications:
  email:
    - feenes@teledomic.eu
