name: django-pwdtk CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8"]
        django-version: ["dj22", "dj31", "dj42"]
    steps:
        - uses: actions/checkout@v2
        - name: setup python
          uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}
            architecture: x64
        - name: install dependencies
          run: |
            python -m pip install -U pip
            python -m pip install flake8
        - name: flake
          if: ${{ matrix.django-version == 'dj22' }}
          run: |
            python -m flake8 pwdtk setup.py --exclude pwdtk/testproject
            python -m flake8 pwdtk/testproject/${{ matrix.django-version }}
        # - name: check import order
        #   if: ${{ matrix.django-version = "dj21' }}
        #   run: |
        #     python -m pip install isort
        #     python -m isort --show-files setup.py pwdtk
        #     python -m isort --diff --check setup.py pwdtk
        - name: pytest
          if: ${{ !(matrix.django-version == 'dj42' && matrix.python.python == '3.7') }}
          run: |
            python -m pip install nose
            python -m pip install wheel
            python -m pip install -r requirements/tox_${{ matrix.django-version }}.txt
            python -m pip install -e .
            DJANGO_SETTINGS_MODULE=pwdtk.testproject.${{ matrix.django-version }}.settings pytest

